
.header {
  width: 100%;
  height: 100px;
  background-color: green;
}

.brelp {
  text-align: left;
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  color: white;
}

.whole {
  margin-top: 15%;
}

.row1 {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.row2 {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.food {
  background-color: green;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white; 
  font-weight: bold;
  box-shadow: 0px 0px 10px rgb(233, 233, 233);
  font-size: 50px;

}

.food:hover {
  background-color: rgb(97, 138, 97);
}

.hibachi {
  width: 50px;
  height: 50px;
}